div {
    text-align: center;
}

h1 {
    font-size: large;
}

button {
    text-align: center;
    width: 400px;
    height: 50px;
    font-size: large;
    background-color: grey;
    border-radius: 4px;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
}